.header {
  border: 2px solid #dddddd;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 60px;
  height: 80px;
  object-fit: contain;
}
.header__items {
  display: flex;
  align-items: center;
}
.header__search {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 300px;
  border-radius: 12px;
}
.header__search::placeholder {
  color: #6d7f8f;
}

.header__search:focus {
  outline: none;
  color: #6d7f8f;
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
  background-color: lighten(#e3edf7, 3%);
}

.header__checkbox {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 15px;
}
.header__checkbox label {
  position: relative;
  cursor: pointer;
}
.header__checkbox label input:checked ~ .icon-box img {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 4),
    3px 3px 5px rgba(0, 0, 0, 0.1);
  background: #e3edf7;
}
.icon-box img {
  width: 45px;
  height: 45px;
  background: #eeeeff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.header__select-label{
  position: absolute;
  top: 28px;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

@media (min-width: 1200px) {
  .header__search:hover {
    background-color: lighten(#e3edf7, 3%);
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
      -5px -5px 10px rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 850px) {
  .header__items {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }
  .header__search {
    max-width: 240px;
  }
}
